@import url("https://fonts.googleapis.com/css?family=Imprima");
body {
    margin: 0;
    font-family: Imprima;
}

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #6666aa;
    --dark-primary-color: #3b3b7a;
    --success-color: green;
    --danger-color: #ea4335;
    --dark-danger-color: #e22121;
    --light-color: #efefef;
}


/* Navbar common styles */

.nav ul {
    margin: 0;
    list-style-type: none;
}

.nav ul li {
    float: left;
    margin: 0 10px 0 10px;
}


/* Text */

.text-success {
    color: var(--success-color);
}

.text-center {
    text-align: center;
}


/* Utility */

label {
    font-size: 17px;
    display: block;
    margin-top: 10px;
}

.left-align {
    float: left;
}

.right-align {
    float: right !important;
}

.center {
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

.avatar {
    background-color: white;
    border: 1px solid rgba(177, 177, 177, 0.7);
    padding: 7px 10px 7px 10px;
    border-radius: 100%;
    line-height: 1.5em;
    width: 40px;
    text-align: center;
    display: inline-block;
}

.border-radius {
    border-radius: 5px;
}


/* input */

input {
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    border: hidden;
    width: 90%;
    margin: 2px;
}

input:focus {
    outline: none;
    border-bottom: solid 3px var(--primary-color);
}


/* button */

button {
    outline: none;
    border: none;
    padding: 5px;
    box-shadow: 4px 3px 5px 0px rgb(177 177 177);
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-success {
    color: white;
    background-color: var(--success-color);
}

.btn-danger {
    color: white !important;
    background-color: var(--danger-color) !important;
}

.btn-primary {
    color: white !important;
    background-color: var(--primary-color) !important;
}

.btn-primary:hover {
    background-color: var(--dark-primary-color) !important;
}

.btn-danger:hover {
    background-color: var(--dark-danger-color) !important;
}

button[type="submit"] {
    margin-top: 10px;
}


/* Main Content */

.main-content {
    padding-left: 70px;
    padding-top: 20px;
}

.main-window {
    margin-left: 50px;
}


/* Main Nav */

.main-nav {
    /* background-color: rgba(177, 177, 177, 0.1); */
    background-color: #ecae27;
    width: 90%;
    margin: auto;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 3px 6px 7px 0px rgb(177 177 177);
    font-size: 20px;
    margin-bottom: 50px;
}

.tab-heading {
    background-color: var(--primary-color);
    display: inline-block;
    color: white;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab {
    border: 1px solid rgba(177, 177, 177, 1.8);
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 50px;
}

.main-nav h1 {
    margin: 0;
}

.main-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav li {
    padding: 10px;
}


/* Sub Nav */

.sub-nav {
    box-shadow: -8px 6px 20px 4px rgb(177 177 177);
    margin-left: 45px;
}

.sub-nav ul {
    background-color: rgb(224, 215, 215);
    margin: 0;
}

.sub-nav ul li a {
    font-size: 20px;
    line-height: 3.0em;
}

.sub-nav li.active a {
    border-bottom: solid 5px var(--primary-color);
}

.sub-nav li a:hover {
    border-bottom: solid 5px var(--primary-color);
    opacity: 70%;
}


/* Side Nav */

.side-nav {
    width: 50px;
    background-color: var(--primary-color);
    height: 100%;
    top: 0;
    position: fixed;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    box-shadow: 0px 20px 20px 0px rgb(177 177 177);
}

.side-nav .mid{
    display: flex;
    flex-direction: column;
}

.side-nav a {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.side-nav .bottom{
    margin-bottom: 20px;
}

.side-nav a:hover {
    color: black;
}

.side-nav a.active {
    color: white;
    border-left: 4px solid white;
}


/* Calls History contact card */

#contactsList {
    margin: 5px;
}

.contact-card {
    padding: 10px;
    box-shadow: 1px 0px 5px 0px rgb(177 177 177);
    width: 100%;
    margin-bottom: 5px;
    border-radius: 7px;
}

.contact-card .upper {
    font-size: 18px;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    display: flex;
}

.contact-card .name {
    width: 90%;
    margin-left: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.contact-card .lower button {
    padding: 6px 12px;
    font-size: 16px;
    margin-right: 5px;
    border-radius: 5px;
}

.contact-card .lower {
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
}

.contact-card .lower>* {
    margin-left: 5px;
}

.contact-card .time {
    font-size: 14px;
    color: var(--success-color);
}

.history {
    width: 80%;
    margin: auto;
}

.filters {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.filters button {
    font-size: 16px;
}

.history input {
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    width: 100%;
    box-shadow: 4px 3px 5px 0px rgb(177 177 177);
    margin: 0 2px 20px 0;
}

.history input::placeholder {
    color: white;
    opacity: 0.5;
}


/* video call */

video {
    max-width: 100%;
    max-height: 100%;
    background-color: var(--light-color);
    border-radius: 5px;
    background-color: black;
}

.video {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 15;
    height: 50%;
    max-width: 45%;
    margin: 5px;
}

.video .sub-controls {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    width: 25px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    margin: 2px;
}

.video .name {
    position: absolute;
    bottom: 30px;
    font-weight: 500;
    width: 100%;
    font-size: 17px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 3px;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.video-controls {
    box-shadow: -3px 2px 5px 0px rgb(16 15 15);
    padding: 5px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 20px;
    width: calc(100vw - 116px);
    left: 90px;
    border-radius: 10px;
    z-index: 20;
    display: flex;
    justify-content: center;
}

.video-controls button {
    color: white;
    border-radius: 5px !important;
    background-color: var(--primary-color);
    font-size: 25px !important;
    margin-right: 15px;
    width: 50px;
    box-shadow: none;
}

.video-controls button:hover {
    background-color: var(--dark-primary-color);
}

.video-controls .dropdown {
    top: 0px;
}

#videos {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: calc(100vh - 180px);
    margin-left: 40px;
}


/* modal box */

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 995;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

.modalBox {
    box-shadow: 4px 5px 14px 2px rgb(25 23 23);
    margin: 15% auto;
    width: 300px;
    max-height: 65vh;
    overflow-x: scroll;
    overflow-x: hidden;
    z-index: 996;
    background-color: var(--light-color);
    border-radius: 10px;
}

.modalBox .content {
    overflow: hidden;
    border-radius: 10px;
    padding: 0 20px 20px;
    background-color: white;
}

.modalBox .contact-card {
    background-color: white;
    margin-bottom: 5px;
    border-radius: 5px;
}

.modalBox h1 button {
    width: 30px;
    box-shadow: none;
    margin-top: 5px;
}

.modalBox h1 {
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
}

.modalBox input {
    width: 90%;
    font-size: 16px;
    background-color: var(--light-color);
}


/* Loading / Loader */

#loading {
    display: none;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    position: fixed;
    justify-items: center;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.1);
}

#loader {
    margin: auto;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: solid 5px rgba(189, 189, 189, 0.30);
    border-bottom: solid 5px rgba(3, 155, 229, 1);
    border-left: dotted 5px rgba(3, 155, 229, 1);
    box-shadow: inset -3px 2px 1px 1px rgb(177 177 177);
    /* border-style: ; */
    animation: rotate 2000ms infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}


/* alert box */

.alert {
    display: none;
    z-index: 999;
    font-size: 18px;
    position: fixed;
    box-shadow: 4px 4px 0px 0px rgb(177 177 177);
    bottom: 0;
    left: 0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    max-width: 250px;
}

.fadeOut {
    animation: fadeOut normal 1000ms;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.alert-success {
    background-color: var(--success-color);
    color: white;
}

.alert-danger {
    background-color: var(--danger-color);
    color: white;
}


/* dropdown menu */

.dropdown {
    position: relative;
    top: -25px;
    z-index: 500;
}

.dropdown button {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 2px;
}

.dropdown ul {
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    box-shadow: -5px 5px 13px 0px rgb(12 10 10);
    animation: slide-down 600ms;
    animation-fill-mode: forwards;
    border-radius: 5px;
    background-color: var(--primary-color);
    position: absolute;
    right: 0;
    top: 37px;
    height: 0;
    color: white;
    list-style: none;
    margin: 0;
    padding: 3px 0;
}

@keyframes slide-down {
    to {
        height: 138px;
    }
}

.dropdown ::-webkit-scrollbar,
.modalBox::-webkit-scrollbar {
    width: 7px;
    background-color: var(--primary-color);
}

.dropdown ::-webkit-scrollbar-thumb,
.modalBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--dark-primary-color);
}

.dropdown ul li {
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 2px solid var(--dark-primary-color);
}

.dropdown ul li:hover {
    background-color: var(--dark-primary-color);
}


/* reactions */

#reactions {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 0px;
}

#reactions button {
    background-color: rgba(0, 0, 0, 0.5);
    color: yellow;
    border-radius: 0 !important;
}

#reactions button:hover {
    background-color: rgba(0, 0, 0, 1) !important;
}

.fa.fa-video-camera-slash {
    display: none;
}

.form-container{
    border: 2px solid rgba(0, 0, 0, 0.4);
    margin: 15% auto;
    width: 300px;
    text-align: center;
    max-height: 65vh;
    min-height: 300px;
    overflow-x: scroll;
    overflow-x: hidden;
    padding: 10px;
    border-radius: 10px;
}

#googleLogo{
    display: inline-block;
    background-color: #fff;
    padding: 8px 8px 4px 8px;
}
#googleLogin div:nth-child(2){
    width: 100%;
}
#googleLogin{
    width:100%;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
}
#googleLogin:hover{
    box-shadow: 1px 4px 8px 0px rgb(147 128 128);
}

/* Chotuuuu */

.chotu-btn {
    padding: 10px;
    position: absolute;
    top: 200px;
    right: 50px;
    background-color: var(--danger-color);
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 4px 8px 0px rgb(147 128 128);
}

